.disable-selection {
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

body {
    padding-bottom: 0;
    padding-top: 0;
    height: 100%;
}

body > div {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    height: 100%;
}